* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Barlow", sans-serif;
}

/*  images are responsive by default */
img {
  max-width: 100%;
  height: auto;
}

:root {
  --primary-color: #1f2327;
  --secondary-color: #191c1f;
  --tertiary-color: #e11b19;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}
